$primarycolor: #5E49FF;
$secondarycolor: #A38DFC;
$graycoler:#7C7786;
$lighGreycolor: #f0f5ff;
$darkGray:#575757;
$errorcolor: #FF7563;
$fonteRegular: "Biennale Regular";
$fonBold: "Biennale Bold";
$fonteLight: "Biennale Light";
$breakpointeDesktop: 992px;