<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gest Pet :: Área do Cliente :: Endereço</title>
</head>

<body>
    <div class="d-flex flex-column wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger border-bottom shadow-sm mb-3">
            <div class="container">
                <a class="navbar-brand" href="/"><b>Gest Pet</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="">Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/contato">Contato</a>
                        </li>
                    </ul>
                    <div class="align-self-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="/cliente-pedidos" class="nav-link text-white">Logado como <b>Mateus Maia</b></a>
                            </li>
                            <li class="nav-item">
                                <a href="/login" class="nav-link text-white">Sair</a>
                            </li>
                            <li class="nav-item">
                                <span class="badge rounded-pill bg-light text-danger position-absolute ms-4 mt-0"
                                    title="5 produto(s) no carrinho"><small>5</small></span>
                                <a href="/carrinho" class="nav-link text-white">
                                    <i class="bi-cart" style="font-size:24px;line-height:24px;"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
 
        <main class="flex-fill">
            <div class="container">
                <h1>Minha Conta</h1>
                <div class="row gx-3">
                    <div class="col-4">
                        <div class="list-group">
                            <a href="/cliente-dados" class="list-group-item list-group-item-action">
                                <i class="bi bi-people-fill fs-6"></i> Dados Pessoais
                            </a>
                            <a href="/cliente-contatos" class="list-group-item list-group-item-action">
                                <i class="bi-mailbox fs-6"></i> Contatos
                            </a>
                            <a href="/cliente-endereco" class="list-group-item list-group-item-action bg-danger text-light">
                                <i class="bi-house-door fs-6"></i> Endereço
                            </a>
                            <a href="/cliente-pedidos" class="list-group-item list-group-item-action">
                                <i class="bi-truck fs-6"></i> Pedidos
                            </a>
                            <a href="/cliente-favoritos" class="list-group-item list-group-item-action">
                                <i class="bi-heart fs-6"></i> Favoritos
                            </a>
                            <a href="/cliente-senha" class="list-group-item list-group-item-action">
                                <i class="bi-lock fs-6"></i> Alterar Senha
                            </a>
                            <a href="" class="list-group-item list-group-item-action">
                                <i class="bi bi-door-open-fill fs-6"></i> Sair
                            </a>
                        </div>
                    </div>
                    <div class="col-8">
                        <form action="">
                            <div class="form-floating mb-3 col-md-6 col-lg-4">
                                <input class="form-control" type="text" id="txtCEP" placeholder=" " autofocus />
                                <label for="txtCEP">CEP</label>
                            </div>
                            <div class="form-floating mb-3 col-md-4">
                                <input class="form-control" type="text" id="txtNumero" placeholder=" " autofocus />
                                <label for="txtNumero">Número</label>
                            </div>
                            <div class="form-floating mb-3 col-md-4">
                                <input class="form-control" type="text" id="txtEstado" placeholder=" " autofocus />
                                <label for="txtEstado">Estado</label>
                            </div>
                            <div class="form-floating mb-3 col-md-4">
                                <input class="form-control" type="text" id="txtCidade" placeholder=" " autofocus />
                                <label for="txtCidade">Cidade</label>
                            </div>
                            <div class="form-floating mb-3 col-md-4">
                                <input class="form-control" type="text" id="txtBairro" placeholder=" " autofocus />
                                <label for="txtBairro">Birro</label>
                            </div>
                            <div class="form-floating mb-3 col-md-8">
                                <input class="form-control" type="text" id="txtLogradouro" placeholder=" " autofocus />
                                <label for="txtLogradouro">Logradouro</label>
                            </div>
                            <div class="form-floating mb-3 col-md-8">
                                <input class="form-control" type="text" id="txtComplemento" placeholder=" " autofocus />
                                <label for="txtComplemento">Complemento</label>
                            </div>                          
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <footer class="border-top text-muted bg-light">
            <div class="container">
              <div class="row py-3">
                <div class="col-12 col-md-4 text-center">
                  &copy; 2022 - Gest Pet Ltda ME<br />
                  Rua Virtual , 000, Goiania/GO <br />
                  CPNJ 99.999.999/0001-99
                </div>
                <div class="col-12 col-md-4 text-center">
                  <a href="/privacidade" class="text-decoration-none text-dark">
                    Política de Privacidade </a
                  ><br />
                  <a href="/termos" class="text-decoration-none text-dark">
                    Termos de Uso </a
                  ><br />
                  <a href="/quemsomos" class="text-decoration-none text-dark">
                    Quem Somos </a
                  ><br />
                  <a href="/trocas" class="text-decoration-none text-dark">
                    Trocas e Devoluções
                  </a>
                </div>
                <div class="col-12 col-md-4 text-center">
                  <a href="/contato" class="text-decoration-none text-dark">
                    Contato pelo Site </a
                  ><br />
                  E-mail:
                  <a
                    href="GestPet:email@gestpet.com"
                    class="text-decoration-none text-dark"
                  >
                    email@gestpetcom </a
                  ><br />
                  Telefone:
                  <a href="phone:28999990000" class="text-decoration-none text-dark">
                    (62) 99999-0000
                  </a>
                </div>
              </div>
            </div>
          </footer>
    </div>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
